h1 {
    color: black;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
}
h2 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

img {
    height: 400px;
    box-align: center; 
    padding: 20px;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
}